@page
@model proiect_mari_claudiu.Pages.Inchirieri.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>INCHIRIERI</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inchiriere[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inchiriere[0].Masina)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Inchiriere[0].DataPreluare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inchiriere[0].DataReturnare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inchiriere) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.NumeComplet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Masina.Model.NumeModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPreluare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataReturnare)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
