@page "{id:int?}"
@model proiect_mari_claudiu.Pages.Furnizori.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>FURNIZORI</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Furnizor[0].NumeFurnizor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FurnizorData.Furnizori) {

            string selectedRow = "";
            if (item.ID == Model.FurnizorID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.NumeFurnizor)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.FurnizorData.Masini != null)
{
    <h3>Masinile detinute de furnizorul selectat de dumneavoastra.</h3>
    <table class="table">

        @foreach (var item in Model.FurnizorData.Furnizori)
        {
            string selectedRow = "";
            if (item.ID == Model.FurnizorID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Masini)
                        {

                            @b.Denumire 

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
