@page
@model proiect_mari_claudiu.Pages.Masini.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Masini</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                Cauta masina dupa denumire:
                <input type="text" name="SearchString" value="@Model.CurrentFilter"/>
                 <input type="submit" value="Search" class="btn btn-primary" /> |
                 <a asp-page="./Index">Inapoi</a>
            </p>
        </div>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Masina[0].Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masina[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masina[0].An_Fabricatie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Masina[0].Furnizor.NumeFurnizor)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Masina[0].Model.NumeModel)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Masina[0].TipMasini)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MasinaD.Masini) {
            string selectedRow = "";
            if (item.ID == Model.MasinaID)
            {
                selectedRow = "table-success";
            }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.An_Fabricatie)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Furnizor.NumeFurnizor)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Model.NumeModel)
                </td>
                <td>
                    @{
                        foreach (var category in item.TipMasini)
                        {
                            //@category.Tip.ID @: 
                            @category.Tip.NumeTip <br />
                        }
                    }
                </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
